{% extends 'base.html' %}
    {% block title %}
        TimeParser
    {% endblock %}

{% block body_txt %}
<h2><u>Output</u></h2>
<br>
<form style="margin:auto;width:40%" action="#" target="_blank">
    <div>
        <label>File Name: <b>{% print(file_name) %}</b></label><br>
        <h3>Error: 
            {% print (MSG) %}
        </h3>
    </div>
    <br>
        <a href="{{ url_for('home_page')}}" class="w3-button w3-block w3-blue" name="run">Reset</a>
    <br>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}